<configuration>
  <packageSources>
    <add key="NuGet official package source" 
         value="https://api.nuget.org/v3/index.json" />
    <add key="ASP.NET Core CI Release" 
         value="https://dotnet.myget.org/F/aspnetcore-ci-release/api/v3/index." />
    <add key="Forevolve MyGet" 
         value="https://www.myget.org/F/forevolve/api/v3/index.json" />
  </packageSources>
</configuration>
